<h1>All Articles</h1>
<p><%= link_to "or Explore Articles by Tags!", tags_path %></p>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article), class: 'article_title' %>
    </li>
  <% end %>
</ul>

<h1>
  <%= link_to "Create New Article", new_article_path, class: 'new_article' %>
</h1>